<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>Small 라벨</title>
    <style>
      @page {
        size: 50mm 30mm;
        margin: 0;
      }
      body {
        margin: 0;
        padding: 0;
        font-family: 'Nanum Gothic', sans-serif;
        height: 100%;
      }
      .label-content {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      h1, h2, h5, p {
        margin: 0;
        padding: 0;
      }

      /* Small 라벨 스타일 */
      h5 {
        transform: rotate(270deg);
        transform-origin: center center;
      }
      
      .small-label-container {
        display: flex;
        flex-direction: column;
        padding: 4px;
        box-sizing: border-box;
      }
      
      .small-label {
        margin-bottom: 4px;
        font-size: 7pt;
      }
      
      .small-label p {
        margin: 1px 0;
      }
      
      .small-label-barcode {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .small-label-barcode img {
        max-width: 60%;
        height: auto;
      }
    </style>
  </head>
  <body>
    <div class="label-content">
      <div class="small-label-container">
        <div class="small-label">
          <p>제 조 날 짜</p>
          <p><%= manufactureDate.split('').join(' ') %></p>
        </div>
        <div class="small-label">
          <p>유 통 기 한</p>
          <p><%= expiryDate.split('').join(' ') %></p>
        </div>
        <div class="small-label-barcode">
          <h5><%= productName %></h5>
          <img
            class="barcode"
            src="data:image/png;base64,<%= barcodeBase64 %>"
            alt="Barcode"
          />
        </div>
      </div>
    </div>
  </body>
</html>

